.App {
  text-align: center;
}


.App-header {
  background-color: #222;
  height: 180px;
  padding: 20px;
  color: white;
}

.photo {
  height: 120px;
  width: 170px;
}

.InputTitle {
    position: fixed;
    top: 230px;
    left: 710px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.input {
  position: fixed;
  left: 650px;
  top: 260px;
}

.submit {
  position: fixed;
  left: 730px;
  top: 430px;
}
