.App {
  text-align: center;
}


.App-header {
  background-color: #222;
  height: 180px;
  padding: 20px;
  color: white;
}

.photo {
  height: 120px;
  width: 170px;
}

.graph {
  position: relative;
  align-items: center;
  left: 550px;
  top: 50px;
  margin-bottom: 100px;
}

.OutputTitle {
    position: relative;
    top: 30px;
    margin-bottom: 50px;
    /*left: 800px;*/
    align-items: center;
}

.InputTitle {
    position:relative;
    top:-110px;
    left: 130px;
    /*left: 700px;*/
    align-items: center;

}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.input {
  position: relative;
  left: -30px;
  top: 100px;
  align-items: center;
}

.submit {
  position: relative;
  align-items: center;
  left: 20px;
  top: 120px;
}
